hanfu-user-center/target/*
hanfu-product-center/target/*
hanfu-user-center/.settings/*
hanfu-product-center/.settings/*
hanfu-user-center/logs/king-words.log
hanfu-common/target/*
hanfu-user-center/logs/*
